extends partials/layout.pug

block content
	p Register

	.login-form
        form(method='POST')
        	.form-group
                label(for='email')
                input.form-control#email(
                type='text'
                name='email'
                placeholder='Email'
                required)
            .form-group
                label(for='password')
                input.form-control#password(
                    type='text'
                    name='password'
                    placeholder='*******'
                    required)
            .contact-form__submit
                a.btn.btn-danger.btn-lg(href='/') Cancel
                input.btn.btn-success.btn-lg(type='submit' value='Register')
